body{
    background: #eecadf;
}

.flex-container{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
    width: 800px;
    margin: 0 auto;
}

.flex-container div{
    border: 1px solid black;
}