body{
    background: #eecadf;
}

.flex-container{
    width: 300px;
    margin: 0 auto;
    background: #fcf0f7;
    display: flex;
    flex-flow: row-reverse wrap;   /*flex-direction + flex-wrap*/

}

.flex-container div{
    border: 1px solid black;
    padding: 10px;
}